.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
}

.logo img {
  height: 60px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.nav ul li a:hover {
  color: blue;
  padding-bottom: 5px;
}

.contact-button {
  display: flex;
}

.contact-button button {
  padding: 10px 20px;
  border: none;
  background-color: #d0021b;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button button:hover {
  background-color: #a90216;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    /* Stack elements vertically */
    padding: 10px 20px;
    /* Adjust padding */
  }

  .logo img {
    height: 50px;
    /* Smaller logo size */
  }

  .nav ul {
    flex-direction: column;
    /* Stack menu items vertically */
    gap: 15px;
    /* Reduce gap */
    margin-top: 20px;
  }

  .nav ul li a {
    font-size: 12px;
    /* Smaller font size */
  }

  .contact-button {
    margin-top: 10px;
    /* Add some space on top */
  }

  .contact-button button {
    padding: 8px 16px;
    /* Adjust padding */
    font-size: 12px;
    /* Smaller button text */
  }
}

/* Mobile styles (below 480px) */
@media (max-width: 480px) {
  .header {
    padding: 10px;
    /* Reduce padding */
  }

  .logo img {
    height: 40px;
    /* Smaller logo */
  }

  .nav ul {
    flex-direction: column;
    /* Stack vertically */
    gap: 10px;
  }

  .nav ul li a {
    font-size: 11px;
    /* Even smaller font size */
  }

  .contact-button button {
    padding: 6px 12px;
    /* Smaller button */
    font-size: 11px;
    /* Adjust button text size */
  }
}

.top-menu-section{
  background: #484545;
  color: white;
  height: 100vh;
  /* width: 100vw; */
  padding-top: 124px;
  padding-inline: 55px;
}
.top-menu-section h2{
  font-size: 44px;
  margin-left: 163px;
  
}
.top-menu-section h2 span{
  background: linear-gradient(90deg, #ffbd12 0, #e03d3d 53.72%, #cd21e9 101.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.top-menu-section * {
  color: white;
}
.menu-card-body{
  display: flex;
  flex-wrap: wrap;
}
.menu-card{
  height: 193px;
    width: 437px;
    background: #00000021;
    border-radius: 26px;
    padding: 22px;
    margin: 12px;
}
.card-icons-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-item-icon{
  background-image: url(https://ebiztechnocrats.com/new/img/wired-outline-680-it-developer-hover-pinch.png);
  cursor: pointer;
  background-size: 55px 55px;
    width: 55px;
    height: 55px;
    margin-top: 6px;
}
.card-arrow-btn{
  width: 40px;
  height: 40px;
  background: url(https://ebiztechnocrats.com/new/img/ic-arrow-right-light.svg) no-repeat center center rgba(255, 255, 255, .08);
  border-radius: 50%;
  cursor: pointer;
}
.it{
  background-image: url(https://ebiztechnocrats.com/new/img/wired-outline-742-code-hover-pinch.png);
}
.digital-marketing{
  background-image: url(https://ebiztechnocrats.com/new/img/wired-outline-20-love-heart-hover-heartbeat.png);
}
.hiring{
  background-image: url(https://ebiztechnocrats.com/new/img/wired-outline-955-demand-hover-click.png);
}
.education{
  background-image: url(https://ebiztechnocrats.com/new/img/wired-outline-112-book-hover-closed.png);
}
.infrastructure{
  background-image: url(https://ebiztechnocrats.com/new/img/wired-outline-1331-repository-hover-pinch.png
  );
}

.reviews{
  display: flex;
  margin: 50px;
}
.review-cards-body{
  display: flex;
  padding-inline: 12px;
}
.reviews-host h2{
  font-size: 34px;
}
.reviews-host span{
  background: linear-gradient(90deg, #ffbd12 0, #e03d3d 53.72%, #cd21e9 101.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.review-card{
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  padding: 10px;
  width: 441px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 10px;
}
.review-card-footer{
  display: flex;
  align-items: center;
}
.review-card-footer img{
  width: 75px;
  height: 75px;
}
/* ****************************ABOUT SECTION ******************************************************************** */

.about-section {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  /* margin-top: 123px; */
}

.about-section h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-black {
  color: #333;
}

.text-gradient {
  background: linear-gradient(
    90deg,
    #ffbd12 0,
    #e03d3d 53.72%,
    #cd21e9 101.11%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 16px;
  color: #555;
  line-height: 1.3;
  margin-bottom: 6px;
}

.button-container {
  margin-top: 50px;
}

.btn-explore {
  display: inline-block;
  padding: 12px 30px;
  background: linear-gradient(
    90deg,
    #ffbd12 0,
    #e03d3d 53.72%,
    #cd21e9 101.11%
  );
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  box-shadow: 0 5px 30px rgb(65 84 241/40%);
  transition: all 0.3s ease;
}

.btn-explore:hover {
  background: linear-gradient(to right, #ff016c, #ff9d00);
  box-shadow: 0px 6px 12px rgba(255, 1, 108, 0.6);
}

PARTNER
  SECTION
  ******************************************************************
  */
  .partners-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.partners-section h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.text-gradient {
  background: linear-gradient(
    90deg,
    #ffbd12 0,
    #e03d3d 53.72%,
    #cd21e9 101.11%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* Space between logos */
  margin-top: 20px;
  margin-left: 125px;
  margin-right: 125px;
  height: 250px;
  /* font-size: 23px; */
  margin-bottom: 43px;
}

.logos-container img {
  height: 230px;
}

.logos-container img {
  max-width: 150px;
  /* Adjust logo size */
  height: auto;
  /* filter: grayscale(100%); Makes logos gray */
  transition: all 0.3s ease;
}

.logos-container img:hover {
  filter: none;
  /* Removes grayscale on hover */
  transform: scale(1.1);
  /* Slight zoom effect on hover */
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.box {
  text-align: center;
  padding: 50px 20px;
  background-color: #ece9e9;
}

.textcontainer {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

.textcontainer h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #333;
  font-size: 2.5rem;
  font-weight: 300;
}

.textcontainer p {
  font-family: Poppins, sans-serif;
  color: #000;
}

.highlight {
  color: #000;
  font-weight: bold;
  font-size: 2.5rem;
  font-weight: 600;
}

.highlight-2 {
  font-size: 2.5rem;
  font-weight: 600;

  color: #ff0f7b;
  background: linear-gradient(
    90deg,
    #ffbd12 0,
    #e03d3d 53.72%,
    #cd21e9 101.11%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-text {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
  margin-top: 40px;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  margin-bottom: 6px !important;
}

.partners {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.partner {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .partners {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 300370) {
  .textcontainer h2 {
    font-size: 1rem;
  }

  .textcontainer p {
    font-size: 15px;
  }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.text {
  text-align: center;
  margin-top: 39px;
}

.text h1 {
  font-size: 2.5rem;
}

.text span {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ff0f7b;
  background: linear-gradient(
    90deg,
    #ffbd12 0,
    #e03d3d 53.72%,
    #cd21e9 101.11%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */
/* ****************************CARED SECTION ********************************************* */

.card {
  display: flex;
  flex-direction: column;

  background-color: #d5f8e6;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;

  margin: 50px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-section {
  max-width: 55%;
  margin: 23px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.tech-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tech-icons img {
  width: 50px;
  height: 50px;
}

.explore-btn {
  display: inline-block;
  background: linear-gradient(45deg, #f9b421, #ff0f7b);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.image-section {
  /* max-width: 45%; */
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* position: relative;
    z-index: 2; */
}

.card1 {
  display: flex;
  flex-direction: column;

  background: linear-gradient(90deg, #facab3, #f4d2f9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;

  margin: 50px;
}

.card2 {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #b6f2eb -38%, #dbf7d4 122%);

  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;

  margin: 50px;
}

.card3 {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #c0f2ff, #cdcaf4);

  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
  position: relative;
  margin: 50px;
}

.tech-icons img {
  height: 30px;
  width: 30px;
}

@media (max-width: 768px) {
  .card-content {
    flex-direction: column;
    align-items: center;
  }

  .text-section {
    max-width: 100%;
    text-align: center;
  }

  .image-section {
    max-width: 100%;
    margin-top: 20px;
  }

  .main-image {
    width: 90%;
  }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++== */
/* *******************BLOG SECTION **************************************************** */

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.blog-section {
  padding: 40px 20px;
  text-align: center;
}

.blog-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.blog-section h2 span {
  color: #f39c12;
}

.blog-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.blog-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
}

.blog-card img {
  width: 448px;
  height: 199px;
}

.blog-card-content {
  padding: 15px;
  text-align: left;
}

.blog-card-content h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.blog-card-content p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.blog-card-content a {
  color: #e74c3c;
  font-weight: bold;
  text-decoration: none;
}

.blog-card-content a:hover {
  text-decoration: underline;
}

.blog-card-content .date {
  font-size: 0.8rem;
  color: #aaa;
  margin-bottom: 5px;
}

.view-all-blogs {
  display: inline-block;
  background: linear-gradient(
    90deg,
    #ffbd12 0,
    #e03d3d 53.72%,
    #cd21e9 101.11%
  );
  color: white;
  padding: 12px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 30px;
  text-decoration: none;
  transition: background 0.3s;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.view-all-blogs:hover {
  background: linear-gradient(45deg, #ffcc33, #ff6f00);
}

/* Responsive */
@media (max-width: 992px) {
  .blog-cards {
    flex-direction: column;
    align-items: center;
  }

  .blog-card {
    max-width: 100%;
  }
}

/* *************************OFFICE SECTION ************************************************************************* */

/* body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
  } */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: #151516;
}

.office-card {
  /* background-color:rgb(63, 62, 62); */

  /* background-color: transparent;
  border-radius: 10px;*/
  padding: 24px;
  flex-grow: 1;
  /* width: 300px;
  margin: 15px;  */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */
  /* text-align: center; */
}
.office-card:nth-child(1){
  border-right: 1px solid gray;
}
.office-card:nth-child(2){
  border-right: 1px solid gray;
}

.office-card img {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

.office-card h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: white;
}

.office-card p {
  font-size: 0.95rem;
  margin: 8px 0;
  line-height: 1.5;
  color: rgb(179, 171, 171);

  /* color: rgb(151 151 151 / var(--tw-text-opacity)); */
}

.phone {
  cursor: pointer;
}

.email {
  cursor: pointer;
}

.phone:hover {
  color: white;
}

.email:hover {
  color: white;
}

.office-card .phone,
.office-card .email {
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .office-card {
    width: 90%;
  }
}

/* ******************************************FOOTER SECTION ***************************************************** */

footer {
  background-color: #151516;
  color: white;
  /* padding: 30px 0; */
  font-family: Arial, sans-serif;
  padding-top: 56px;
}

footer .container{
  border: 1px solid #7c7c7c !important;
  border-radius: 21px;
  padding: 0;
  margin-top: 24px;
  padding: 24px;
  margin: 0px 78px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 50px;
}

.footer-column {
  margin: 20px 0;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
}

.footer-column p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(179, 171, 171);
  cursor: pointer;
}

.google-review{
  display: flex;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #2c2c2d;
  margin-bottom: 13px;
}
.google-review p {
  color: rgb(179, 171, 171);
}

.clutch-review p {
  color: rgb(179, 171, 171);
}

.footer-column p:hover {
  color: white;
}

.footer-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.footer-reviews .google-review img,
.footer-reviews .clutch-review img,
.footer-reviews .iso-certification img {
  width: 100px;
  margin-bottom: 10px;
}
.google-review img{
  margin-right: 10px;
  margin-bottom: 0 !important;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding: 15px 0;
  border-top: 1px solid #333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

.footer-bottom a {
  color: rgb(179, 171, 171);
  margin: 0 10px;
  font-size: 14px;
  text-decoration: none;
}

.footer-bottom p {
  font-size: 14px;
  margin-top: 10px;
  color: rgb(179, 171, 171);
}

.footer-bottom a:hover {
  color: white;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column,
  .footer-reviews {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-reviews .google-review img,
  .footer-reviews .clutch-review img,
  .footer-reviews .iso-certification img {
    width: 80px;
  }
}

/* General styles for small and medium screens */
@media (max-width: 1024px) {
  /* Adjust font sizes and paddings */
  .about-section h1 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .btn-explore {
    padding: 10px 20px;
    font-size: 10px;
  }

  /* Ensure containers adapt to screen sizes */
  .textcontainer {
    margin-left: 20px;
    margin-right: 20px;
  }

  .highlight,
  .highlight-2 {
    font-size: 2rem;
  }

  .sub-text {
    font-size: 0.9rem;
    line-height: 1.2;
    margin-top: 30px;
  }

  .logos-container {
    margin-left: 10px;
    margin-right: 10px;
    gap: 30px;
  }

  .logos-container img {
    max-width: 100px;
    /* Smaller logos */
  }

  /* Card adjustments */
  .card,
  .card1,
  .card2,
  .card3 {
    margin: 20px;
    padding: 15px;
  }

  .card-content,
  .blog-cards {
    flex-direction: column;
    align-items: center;
  }

  .text-section,
  .image-section {
    max-width: 100%;
    margin: 0;
    text-align: center;
  }

  .main-image {
    width: 80%;
    margin-bottom: 20px;
  }
}

/* For tablet devices */
@media (max-width: 768px) {
  .about-section {
    padding: 30px 10px;
  }

  .about-section h1 {
    font-size: 24px;
  }

  .logos-container {
    flex-direction: column;
    height: auto;
    gap: 20px;
  }

  .btn-explore {
    font-size: 10px;
    padding: 8px 18px;
  }

  /* Adjusting blog card and section */
  .blog-cards {
    flex-direction: column;
  }

  .blog-card {
    max-width: 90%;
  }

  /* Footer adjustments */
  .footer-container {
    flex-direction: column;
    padding: 20px;
  }

  .footer-column,
  .footer-reviews {
    text-align: center;
  }
}

/* For mobile devices (below 480px) */
@media (max-width: 480px) {
  .about-section h1 {
    font-size: 22px;
  }

  p,
  .sub-text {
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .logos-container img {
    max-width: 80px;
  }

  .card,
  .card1,
  .card2,
  .card3 {
    padding: 10px;
    margin: 10px;
  }

  .main-image {
    width: 90%;
  }

  .tech-icons img {
    width: 40px;
    height: 40px;
  }

  /* Footer adjustments for mobile */
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom p {
    font-size: 12px;
  }

  .view-all-blogs {
    padding: 8px 20px;
    font-size: 14px;
  }
}
